page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }

        .card-description {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;

            &__title {
                font-size: 2em;
                font-weight: bold;
            }

            &__subtitle {
                font-size: 1em;
            }
        }
    }
}
